---
layout: post.njk
pagination:
  data: collections.org
  size: 1
  alias: post
permalink: /weblog/{{ post.data.slug | stripLeadingSlash }}/
eleventyComputed:
  title: "{{ post.title }}"
---
<article class="post">
  <header class="post-header">
    <div class="post-title-row">
      <h1 class="post-title">{{ post.title }}</h1>
    </div>
    <p class="post-byline">Por {{ site.author.name }}</p>
    <time class="post-title-date" datetime="{{ post.date | isoDate }}">{{ post.date | isoDate }}</time>
    <div class="post-dateline" aria-hidden="true"></div>
  </header>

  <div class="post-body">
    {{ post.content | demoteHeadings | localizeFootnotes | fixFootnoteLinks | safe }}
  </div>

  {% if post.tags %}
  <ul class="post-tags">
    {% for tag in post.tags %}
    <li><a href="/weblog/etiquetas/{{ tag | slugify }}/">#{{ tag }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  <nav class="post-nav">
    {% if pagination.nextPageHref %}
      <a href="{{ pagination.nextPageHref }}" aria-label="Entrada anterior"><i class="fa-solid fa-arrow-left"></i></a>
    {% else %}
      <span class="post-nav-disabled"><i class="fa-solid fa-arrow-left"></i></span>
    {% endif %}
    <a href="/weblog/" aria-label="Subir"><i class="fa-solid fa-arrow-up"></i></a>
    {% if pagination.previousPageHref %}
      <a href="{{ pagination.previousPageHref }}" aria-label="Entrada siguiente"><i class="fa-solid fa-arrow-right"></i></a>
    {% else %}
      <span class="post-nav-disabled"><i class="fa-solid fa-arrow-right"></i></span>
    {% endif %}
  </nav>
</article>
