---
layout: home.njk
title: Inicio
---
<section class="home">
  <div class="home-intro">
    <h2>Sobre mí</h2>
	<p>
	  Estudié filosofía en la UNAM y relaciones internacionales en El Colegio de México.
	</p>
	<p>
	  Escribo crítica literaria y cinematográfica, y edito <a href=https://elcineprobablemente.com/><em>El Cine Probablemente</em></a>, una revista de cine impresa.
	</p>
	<p>
	  A veces traduzco.</p><p>He trabajado con varios festivales de cine.</p>
	<p>
	  Aquí pueden encontrar una lista con mis textos publicados y algunas entradas de blog.
	</p>
  </div>

  {% if collections.org.length %}
  <section class="home-recent">
    <h2>Entradas recientes</h2>
    <p class="home-recent-list">
      {% for post in collections.org | head(4) %}
        <a href="/weblog/{{ post.data.slug | stripLeadingSlash }}/">{{ post.date | spanishDate }}, {{ post.title }}</a>{% if not loop.last %} | {% endif %}
      {% endfor %}
    </p>
  </section>

  {% endif %}
</section>
